@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,1000;1,6..12,400&display=swap');

html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  overflow-y: scroll;
}

html {
  font-size: 0.95em !important;
}

html.uk-modal-page {
    margin-right: -17px !important;
    overflow-y: scroll;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    margin:0;
    padding:0;
    line-height: 1.2;
    margin-bottom:20px !important;
}

h1 {
  font-size: 2.5em !important;
  margin:10px 0;
  font-weight: 800 !important;
}

h2 {
  font-size: 1.8em !important;
  margin:5px 0;
  font-weight: 800 !important;
  color:#999 !important;
}

h3 {
  font-size: 1.3em !important;
  margin:5px 0;
  font-weight: 700 !important;
}

h4 {
  font-size: 1.2em !important;
  margin:10px 0;
  font-weight: 700 !important;
  color:#777;
}

p {
    font-family: 'Inter', Verdana, sans-serif !important;
    font-size: 0.95em;
    padding:2px;
    margin:10px 0;
}

li {
  font-size: 0.9em !important;
}

a.link {
  color:rgb(8, 67, 230) !important;
  text-decoration: none !important;
  padding:0 3px;
}

a.link:hover {
  background-color: #eee;
  text-decoration: none !important;
}

ul.uk-nav li a {
  text-decoration: none !important;
  color:#777;
  padding:5px 10px;
  border:1px solid #fff;
  font-size: 1.2em !important;
  font-weight: 700;
}

ul.uk-nav li a:hover {
  text-decoration: none !important;
  color:#111;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Layout styling */

div.items-start {
  border-bottom:1px solid #eee;
  margin-bottom:0px;
}

div > main > article {
  padding:30px 5px !important;
}

/* ##################################################### 
  Evidence styling 
##################################################### */

div.search-container {
  width:100% !important;
  margin-bottom:30px !important;
}

div.button-group button:focus, div.button-group button:focus-within, div.button-group button.text-blue-700 {
  background:#FE6C2D !important;
  color:#fff;
}

/* Hide nav button Evidence */

header > div > button > svg {
  display: none !important;
}

/* ##################################################### 
  Evidence KPI styling 
##################################################### */

div.kpi {
  height:80px;
}
